$primary: #dee2e6
$secondary: #ffffff
$third: #9ca3af
$emphasis: rgba(260, 142, 128,1)
$bg: rgb(25, 35, 45)
$cardBg: rgba(44, 55, 67, 1)


.lxgw-wenkai-tc-light
	font-family: "LXGW WenKai TC", cursive
	font-weight: 300
	font-style: normal

.lxgw-wenkai-tc-regular 
	font-family: "LXGW WenKai TC", cursive
	font-weight: 400
	font-style: normal

.lxgw-wenkai-tc-bold 
	font-family: "LXGW WenKai TC", cursive
	font-weight: 700
	font-style: normal

html,body 
	color: $primary
	background-color: $bg
	line-height: 1.7
	@media (max-width: 639px) 
		font-size: 14px

a
	color: $primary
	font-weight: normal
	&:hover
		color: $emphasis

h1,h2,h3,h4 
	color: $secondary
	font-weight: bold
	a
		text-decoration: none
		color: $secondary
		font-weight: bold

h1
	@apply text-4xl
h2
	@apply text-3xl
h3
	@apply text-2xl
h4
	@apply text-xl

p
	margin-top: 1.5rem
	margin-bottom: 0rem
	font-weight: normal
	color: $primary
	@apply text-base 

strong
	color: $primary
	font-weight: bold
	border-bottom: 2px solid $emphasis

ul, ol
	margin-top: .75rem
	li::marker
		color: $primary

li
	margin: .25rem 0

code
	word-wrap: break-word
	padding: .2rem .3rem
	border-radius: .3rem
	color: $emphasis

hr
	@apply border-gray-500 border-dashed
	margin: 2rem auto 3rem
	width: 33.333%

th
	border: 1px solid $primary
	padding: .5rem
	text-align: center
	font-weight: bold
	color: $secondary

td
	border: 1px solid $primary
	padding: .5rem

blockquote
	display: block
	border-left: .5rem solid $emphasis
	padding: .75rem 1rem
	margin: 1.25rem 0
	p
		margin-top: 0rem
iframe
	display: block
	margin: 0 auto

.card-bg
	background-color: $cardBg

.page-enter-active,
.page-leave-active 
	transition: all 0.3s

.page-enter-from,
.page-leave-to 
	opacity: 0
	filter: blur(1rem)


.layout-enter-active,
.layout-leave-active 
	transition: all 0.4s

.layout-enter-from,
.layout-leave-to 
	opacity: 0
	filter: blur(1rem)
